@model AdViewModel
@foreach (var ad in Model.ads)
{
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <div class="jumbotron">
                <h5>Listed by @ad.Name</h5>
                <h5>@ad.Date.ToLongDateString()</h5>
                <h5>Phone Number: @ad.Number</h5>
                <h3>Details:</h3>
                <p>@ad.Description</p>
                  <form method="post" action="/home/DeleteAdd">
                        <input type="hidden" name="id" value="@ad.id" />
                        <button class="btn btn-danger">Delete</button>
                    </form>
            </div>
        </div>
    </div>
}